.app {
    color: #fff;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    align-items: center;
    background-color: #000000;
    display: flex;
    height: 80px;
    justify-content: center;
}

main {
    background-color: #1b1b1b;
    height: calc(100vh - 80px);
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .image-section {
        flex-direction: column;
    }
    
    section {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        max-width: 1000px;
        padding: 16px 0;
        width: calc(100% - 48px);
    }
}

.image-canvas {
    align-items: center;
    border: dashed #fff 6px;
    border-radius: 32px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    font-size: 18px;
    justify-content: center;
    margin: 16px;
    padding: 8px;
    height: 30vh;
    width: 100%;

    .icons {
        display: flex;
        font-size: 56px;
        margin: 16px 0;

        div {
            margin: 16px 16px 0;
        }
    }

    .subtitle {
        font-size: 16px;
    }

    .image-preview,
    .video-preview {
        height: 100%;
        object-fit: contain;
        width: 100%;
    }
}

.result-value {
    display: flex;
    font-size: 18px;
    margin: 8px 0;
    text-transform: capitalize;
    width: 300px;

    &.hentai {
        color: #c25452;
    }

    &.neutral {
        color: #fff;
    }

    &.pornography {
        color: #ffa31a;
    }

    &.sexy {
        color: #fdfd66;
    }

    span {
        flex: 50%;
    }
}

input[type=text] {
    background: #292929;
    border: 1px solid #111;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px #111;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 8px 0;
    outline: none;
    padding: 12px 20px;
    width: 60%;
}